<?php
  include('flogin1.php');
if(empty($_SESSION['logemail'])){
header("location: login.php");
}
?>
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>StudentCorner</title>

  <!-- Bootstrap Core CSS -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../assets/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="../assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../assets/css/style.min.css" rel="stylesheet">

</head>
 
<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">StudentsCorner</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="index.html">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="search.html">Search</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="add.html">Add</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="modify.html">Modify</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="delete.html">Delete</a>
      </li>
      <li class="sidebar-nav-item"> 
        <a class="js-scroll-trigger" href="display.html">Display</a>
      </li>

      <li class="sidebar-nav-item"> 
        <a class="js-scroll-trigger" href="logout.php">Log out</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Student Corner</h1>
      <h3 class="mb-5">
        <em>The one stop solution to your college needs.</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>StudentCorner contains all that you require to be prepared for your exams.</h2>
          <p class="lead mb-5">Notes, Textbooks, Qstn papers and Syllabus - all at your fingertips</p>
          <p class="lead mb-5">The teacher in-charge does the required changes to the resources you require.</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Services</h3>
        <h2 class="mb-5">What We Offer</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Notes</strong>
          </h4>
          <p class="text-faded mb-0">Helps you at the last moment.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Textbooks</strong>
          </h4>
          <p class="text-faded mb-0">e-Library to look through required sources</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Previous year papers</strong>
          </h4>
          <p class="text-faded mb-0">Helps you strengthen concepts.</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Syllabus</strong>
          </h4>
          <p class="text-faded mb-0">Know what to learn.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../assets/js/stylish-portfolio.min.js"></script>

</body>

</html>
